*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(108deg, #23005b 100%, rgb(16, 0, 42) 100%);
}

.menu{
    display: flex;
    background: rgba(217, 217, 217, 0.50);
    color: black;
    text-decoration: none;
    padding: 10px 30px !important;
    height: 7vh !important;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

.links{
    display: flex;
}

.products a,
.about a,
.title a,
.login a{
    text-decoration: none;
    color: black;
    margin: 0px 15px;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
}

.products a:hover,
.about a:hover,
.title a:hover,
.login a:hover{
    color:#ffffff;
    transition: .3s;
}

.select{
    text-decoration: underline !important;
}